# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Build outputs
my-chrome-extension/build/
dist/
.eslintcache

# Editor
.vscode/
.idea/
.DS_Store
Thumbs.db

# Env
.env
.env.local
